@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --notification-sfx: https://www.myinstants.com/media/sounds/mocor-os-keypad-sound.mp3;
}

@keyframes hovering {
 from {
   margin-bottom: 3px;
 }
 to {
   margin-bottom: 0;
 }
}
body, html {
  background: none transparent !important;
  font-family: 'Playfair Display', serif;
}
.msgWrapper {
    margin: 1em;
}
.allMessages {
  border-top: 1px #ffffff33 solid;
 display: flex;
 flex-direction: column;
 gap: 0.25em;
 font-size: 1.25em;
 font-weight: lighter;
 border-radius: 0px;
 margin: 0;
 line-height: 1.25em;
 position: relative;
 color: rgba(255, 255, 255, 1);
 width: 100%;
 padding-top: 1em;
 box-sizing: border-box;
 backdrop-filter: blur(6px);
 overflow: auto;
 font-weight: 300;
}
.allMessages iframe {
  width: auto;
  height: auto;
  border: none;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}
.msgWrapper:nth-child(6n) {
    margin-top: 2em;
}
.msgWrapper:nth-child(6n) > .allMessages:before {
    content: attr(time);
    position: absolute;
    bottom: calc(100% + 3px);
    width: 100%;
    text-align: center;
}
br {
 height: 0.2em;
}
.senderInfo {
 display: block;
 margin: 0.25em;
 font-family: 'Playfair Display', serif;
 font-weight: 800;
 text-align: justify;
 font-size: 1.25em;
 min-width: 1em;
 max-width: 100%;
 word-break: break-all;
}
/* .sent > .senderInfo {
   text-align: right;
}
 .recieved > .senderInfo {
   text-align: left;
}
 */
#background {
 background: none transparent !important;
}
.msgBody {
 text-align: left;
}
#input, #nameEntry {
 background-color: rgba(194, 194, 194, 0.2);
 color: rgba(255, 255, 255, 1);
 border: none;
 font-family: 'Playfair Display', serif;
 font-size: 1em;
 padding: 1em;
 width: 100%;
 margin: 0;
 border-top: solid 1px rgba(255, 255, 255, 0.5);
 border-radius: 0px;
}
#input:focus, #nameEntry:focus {
}
#input:empty::before {
 content: "leave a message...";
 color: #AAA;
}
a {
 font-family: inherit;
}
#timestamp {
 color: rgba(255, 255, 255, 1);
 text-align: center;
 font-size: 1em;
 margin: 0;
}
#timestamp:after {
    content: "\2934";
    font-size: 1em;
    font-weight: bold;
}
.badge {
  display: none;
}
@keyframes hueShift {
  0% {
    filter: hue-rotate(0deg) saturate(0.75);
  }

  50% {
    filter: hue-rotate(360deg) saturate(0.75);
  }

  100% {
    filter: hue-rotate(0deg) saturate(0.75);
  }
}
.senderInfo:has(.owner) {
 font-family: 'Playfair Display', serif;
 font-weight: bold;
 color: rgb(157, 203, 255);
 text-shadow: 0 0 3px rgb(0, 0, 0);
 animation: hueShift 12s linear infinite;
}
.senderInfo:has(.mod) {
  font-family: Verdana;
  font-weight: bold;
  color: rgb(145, 115, 255);
 text-shadow: 0 0 3px rgb(0, 0, 0);
 animation: hueShift 120s linear infinite;
}
#top_banner {
 display: none;
}
#settings {
 filter: invert(100%);
 opacity: 0.75;
 width: 3em;
 height: 3em;
}
#settings:hover {
 filter: invert(90%);
}
blockquote {
 font-style: italic;
}
#loadMore {
 font-size: 1em;
 font-family: 'Playfair Display', serif;
}
.pinned {
 position: sticky;
 top: 0;
 z-index: 2;
 max-height: 15vh;
 overflow: hidden;
 cursor: default;
 background: rgb(0, 0, 0);
 border: 1px solid rgba(255, 255, 255, 0.5);
}
.pinned .allMessages {
  background: rgb(0, 0, 0);
  border-radius: 16px;
  border: 1px solid rgba(135, 201, 255, 0.31);
  padding: 1em;
}
.pinned::before {
 content: "\23F7";
 text-align: center;
 display: flex;
 align-items: flex-end;
 justify-content: center;
 position: absolute;
 left: 0;
 bottom: 0;
 z-index: 2;
 width: 100%;
 height: 15vh;
 max-height: 15vh;
 border-radius: 16px;
 animation: 500ms linear infinite alternate hovering;
}
.pinned:hover::before {
 display: none;
}
.pinned > .allMessages {
 box-shadow: 0 0 3px #000;
}
.pinned > .allMessages:hover {
 box-shadow: none;
}
.pinned > .allMessages::before {
 content: " ";
 display: block;
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 15vh;
 max-height: 100%;
 background: linear-gradient(transparent, transparent, #000);
 opacity: 0.75 
}
.pinned > .allMessages:hover::before {
 display: none;
}
.pinned:after {
 display: inline-block;
 position: absolute;
 right: 1em;
 top: 1em;
 content: "📌";
}
#replyBanner {
  font-size: 0.75em;
  color: #FFFFFF;
  font-family: 'Playfair Display', serif;
}
#is_typing {
  opacity: 0;
}
#is_typing > span {
  background-color: #333;
}
pre:has(>code){
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.3);
}
#emojiTray {
  background: rgba(0, 0, 0, 0.75);
  color: #FFF;
}
#emojiTrayToggle {
  height: 3em;
  width: 3em;
  filter: invert(100%)
}
#settingsMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00000081;
  color: #FFFFFF;
  height: 100%;
}

#settingsMenu h2 {
  font-size: 1.5em;
}

#settingsMenu p {
  font-size: 1em;
  width: auto;
  display: flex;
}

#settingsMenu p label{
  margin-left: auto;
}

#settingsMenu p label::after {
  margin-right: auto;
}

#save {
  cursor: pointer;
  width: auto;
  color: #FFFFFF;
  background: rgba(114, 114, 114, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 1.25em;
  border-radius: 16px;
  padding: 1em;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
}

#dltranscript {  
  width: auto;
  color: #FFFFFF;
  background: rgba(114, 114, 114, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 1.25em;
  border-radius: 16px;
  padding: 1em;
  margin-top: 1em;
}

#dltranscript a {
text-decoration: none;
color: #FFFFFF;
font-size: 1.25em;
}

#settingsMenu #footer {
  /* display: none; */
}

#settingsMenu hr {
  display: none;
}

#closeSettingsBtn {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: auto;
  color: #ffa8a8;
  background: rgba(114, 114, 114, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 1.25em;
  border-radius: 16px;
  padding: 1em;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
}

.msgBody p img {
  width: 3em;
  height: 3em;
}

#scrollToBottom {
  content: jump to latest message;
}

#loginBanner {
  display: block;
  width: 100%;
  height: 100%;
}

