@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Playfair Display', serif;
    background-color: #000000;
}

#debug {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 10px;
    font-family: monospace;
    font-size: 14px;
    z-index: 1000;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    max-height: 20vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

#loading-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    color: #FFF;
}

@keyframes hueShift {
  0% {
    filter: hue-rotate(0deg) saturate(0.75);
  }

  50% {
    filter: hue-rotate(360deg) saturate(0.75);
  }

  100% {
    filter: hue-rotate(0deg) saturate(0.75);
  }
}

#main-container {
  background-color: #060b18;
  animation: hueShift 120s linear infinite;
}

#canvas{
  width: 100vw;
  height: 100vh;
    margin:0 auto;
    display:block;
    filter:url('#shadowed-goo');
}

.float-text {
  position: relative;
  display: inline-block;
  /* No left/right/top/bottom set, so it stays in flow */
}

#selection-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: 2em;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 5em;
  overflow: hidden;
}

#dialogue {
  color: rgb(255, 255, 255);
  font-size: 4em;
  width: 100%;
  text-align: center;
  text-wrap: nowrap;
  overflow-x: scroll;
  z-index: 10;
  pointer-events: none;
  user-select: none;
  filter:url('#shadowed-goo');
  opacity: 1;
  transition: all 1s ease-in-out;
  font-family: 'Playfair Display', serif;
  scrollbar-width: none;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.62);
}

.selection {
  font-size: 2.5em; 
  color: #FFF;
  text-align: center;
  width: 100%;
  opacity: 0;
  transition: all 1s ease-in-out;
  pointer-events: none;
  cursor: pointer;
  text-shadow: 0px 0px 10px rgba(0,0,0,1);
  transition: all 1s;
}

.selection:hover {
  font-size: 3em;
  text-shadow: 0px 0px 20px rgba(0,0,0,1);
}

svg{
  display:none;
}

/* html, body { height: 100%; }
body { margin: 0; background: #000; }
canvas { display: block; }

.waves { position: absolute; left: 0; top: 0; right: 0; bottom: 0; width: 100%; height: 100%; z-index: 2;}

svg {
  height: 100vh;
  width: 100vw;
}

path {
  fill: none;
  stroke: #172b5f6e;
  stroke-width: 0.5px;
  z-index: 1;
} */

#music-controller-overlay {
  position: absolute;
  top: 50%;
  left: -26em;
  transform: translateY(-50%);
  width: 25em;
  height: auto;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.31);
  padding: 1em;
  z-index: 10;
  transition: all 0.5s ease-in-out;
}

#music-info-container {
  color: #FFF;
  font: 2em;
}

#track-name {
  font-size: 2em;
  margin-bottom: 0.1em;
}

#music-controller-trigger {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -100%;
  left: 25em;
  width: 50%;
  height: 200vh;
  background-color: #ff000000;
  z-index: 1;
  transition: all 2s;
}

#music-controller {
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    transition: all 0.5s ease-in-out;
}

#seek-slider {
  width: 100%;
  margin: 2em 0 0.5em 0;
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none; 
  background: transparent; 
  cursor: pointer;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.418);
  border-radius: 16px;
  height: 0.5em;
  transition: all 0.1s ease-in-out;
}

#seek-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #e0e0e0; /* Thumb color */
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
}

#seek-slider::-webkit-slider-thumb:hover {
  background: #ffffff;
  transform: scale(1.2);
}


#track-duration-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#play-pause {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  margin: 1em auto;
  border: #ffffff solid 2px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  color: #ffffff;
  opacity: 0.6;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

#play-pause:hover {
  transform: scale(1.1);
  opacity: 1;
}

#play-pause i {
  font-size: 1.5em;
}

#music-queue-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  opacity: 0.75;
}

#music-queue-container p {
  font-size: 1em;
}

#music-queue {
  border: #ffffff 1px solid;
  border-radius: 16px;
  padding: 0 1em;
  margin: 1em 0;
}

.queue-item {
  margin: 1em 0;
}

.queue-item p {
 font-size: 0.75em;
}

.queue-divider {
  width: 100%;
  height: 0.01em;
  background-color: #ffffff;
}

#time-override-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin: 1em 0;
  opacity: 0.5;
}

.timeOverrideBtn {
  background: rgba(255, 255, 255, 0.014);
  border-radius: 24px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.31);
  padding: 1em;
  font-family: Playfair;
  color: #ffffff;
  font-size: 1.1em;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.timeOverrideBtn:hover {
  transform: scale(1.1);
  background-color: #ffffff71;
  color: #000000;
}

@media only screen and (max-width: 720px) {
  #dialogue {
    font-size: 3em;
  }

  .selection {
  font-size: 2em; 
  }

  .selection:hover {
  font-size: 2.5em;
}

  #selection-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: 2em;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 1em;
  overflow: hidden;
}

  #debug {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 10px;
    font-family: monospace;
    font-size: 10px;
    z-index: 1000;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    max-height: 30vh;
    overflow-y: scroll;
    pointer-events: none;
  }

  #music-controller-overlay {
    transform: scale(0.75) translateY(-30em) translateX(-5em);
  }

  #music-controller-trigger {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -100%;
  left: 25em;
  width: 50%;
  height: 200vh;
  background-color: #ff000000;
  z-index: 1;
  transition: all 2s;
  transform: scale(0.75) translateY(10em) translateX(10em);
}

}